body{
    background-color: lightgray;
    text-align: center;
    font-size: 16px;
    font: 1em sans-serif;
    font-size: 25px;
    margin: 0 auto;

}
.maincontainer{
    display: flex;
    justify-content: center;
    font: sans-serif;
    font-size: 20px;
}
.secondContainer{
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60dvh;
    font-family: monospace;
    font-size: 1.3rem;
    font: sans-serif;
    font-size: 20px;
    
}
.content{
    display: flex;
    
    font-size: 1rem;
    justify-content: center;
}
input{
    background-color: hsla(0, 7%, 77%, 0.725);
    height: fit-content;
    border-radius: 1px, bold;
}
button{
    font-size:0.9rem;
    border-radius: 5px;
    background-color: hsl(120, 27%, 75%);
    cursor: pointer;

}
button:hover{

    background-color: hsl(120, 42%, 68%);
    cursor: pointer;
  
}
.result{
   
    border-radius: 4px;
    padding: 0 10px;
    font-size: 1rem;
    background-color: lightgrey;
    position: absolute;
    height: 50vh;
    width: 90%;
    display: none;

}
#showresult{
    list-style: none;
}
#backbtn{
    margin-top: 50%;
    cursor: pointer;
}
